<div class="container text-center jumbotron">
  <h1>Welcome to MyRecipes App</h1>
  
  <h2>
    This is the home page for the Professional Ruby on Rails Developer Course on Udemy
  </h2>
  
  <%= link_to "sign up now!", "", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-4">
      <h3 class="midrow">
        Viiew Recipes as Guest User
      </h3>
      <h4 class="left">Browse and View recipes as a guest and Sign up later</h4>
      <p><%= link_to "Browse Recipes Listings","",class: "btn btn-warning btn-small" %></p>
    </div>
    
    <div class="col-md-4">
      <h3 class="midrow">
        Viiew Recipes as Guest User
      </h3>
      <h4 class="left">Browse and View recipes as a guest and Sign up later</h4>
      <p><%= link_to "Browse Recipes Listings","",class: "btn btn-warning btn-small" %></p>
    </div>
    
    <div class="col-md-4">
      <h3 class="midrow">
        Viiew Recipes as Guest User
      </h3>
      <h4 class="left">Browse and View recipes as a guest and Sign up later</h4>
      <p><%= link_to "Browse Recipes Listings","",class: "btn btn-warning btn-small" %></p>
    </div>
  </div>
</div>