<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "myRecipes", "", class: "btn btn-lrg btn-success", id: "logo" %>
    <ul class="nav nav-pills pull-right">
      <li>
        <%= link_to "link 1", ""%>
      </li>
      <li>
        <%= link_to "link 1", ""%>
      </li>
      <li>
        <%= link_to "link 1", ""%>
      </li>
    </ul>
  </div>
</header>